@page
@model StoreCreditor.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password reset";
}

<h1 class="h3 mb-3">Password reset</h1>
<p>Your password has been reset.</p>
<a asp-page="./Login" class="btn btn-primary">Sign in</a>
