@using Microsoft.AspNetCore.Identity
@using StoreCreditor.Data.Entities
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="d-flex align-items-center gap-2" asp-area="Identity" asp-page="/Account/Logout" method="post">
        <span class="navbar-text small">@User.Identity?.Name</span>
        <button type="submit" class="btn btn-outline-light btn-sm">Sign out</button>
    </form>
}
else
{
    <div class="d-flex gap-2">
        <a class="btn btn-outline-light btn-sm" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
     @*    <a class="btn btn-primary btn-sm" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
    </div>
}
